@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
}

.bg-white {
    background-color: #ffffff;
}

.bg-blue-500 {
    background-color: #6b5b9a;
}

.bg-green-500 {
    background-color: #7a6aa0;
}

.text-blue-500 {
    color: #6b5b9a;
}

.text-red-500 {
    color: #e63946;
}

.text-green-500 {
    color: #2a9d8f;
}

input {
    border-color: #6b5b9a; 
}

input:focus {
    border-color: #8e7cbe;
}


.topic-item {
    transition: background-color 0.3s ease;
}

.topic-item:hover {
    background-color: #e0c2e6;
}

.topic-item {
    transition: transform 0.2s;
}

.topic-item:hover {
    transform: scale(1.05);
}

.container button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.button-style {
    padding: 10px 20px;
    font-size: 16px;
    width: max-content;
}

.button-style {
    padding: 10px 20px;
    font-size: 16px;
    width: max-content;
    background-color: #6b5b9a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.button-style:hover {
    background-color: #876ed1;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.form-style {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-style {
    margin-bottom: 10px;
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.submit-button {
    padding: 12px;
    background-color: #6b5b9a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}